{% extends "base.html" %}
{% block content %}


<body id="bodyloginregister">
    <div id="dashcontainer" class="d-block container bg-light shadow-md p-5 my-5">
        <h1>RESET YOUR PASSWORD</h1>
        {% if validlink %}
        <p>PLEASE ENTER YOUR NEW PASSWORD TWICE</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-danger" value="Change my password" /></p>
        </form>
        {% else %}
        <p>THE PASSWORD RESET WAS INVALID,PLEASE REQUEST A NEW LINK</p>
        {% endif %}
    </div>
</body>
{% endblock content %}