{% extends "base.html" %}
{% block content %}


<body id="bodyloginregister">
    <div id="dashcontainer" class="d-block container bg-light shadow-md p-5 my-5">
        <h1>RESET YOUR PASSWORD!</h1>
        <p>OUR TEAM HAS EMAILED YOU INSTRUCTIONS TO RESET PASSWORD</p>
        <p>IF YOU DIDN'T RECIEVE EMAIL PLEASE MAKE SURE YOU'VE PROVIDED CORRECT EMAIL (PREFEREBLY GMAIL)</p>
        <br>
        <p>MAKE SURE TO CHECK YOUR SPAM IF YOU DONT SEE EMAIL AT DASHBOARD</p>
    </div>
</body>
{% endblock %}