{% extends "base.html" %}
{% block content %}


<body id="bodyloginregister">
    <div id="dashcontainer" class="d-block container bg-light shadow-md p-5 my-5">
        <h1>FORGOTTEN YOUR PASSWORD</h1>
        <p>ENTER YOUR EMAIL TO RESET PASSWORD</p>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-danger" type="submit" value="Send e-mail"></p>
        </form>
    </div>
</body>
{% endblock %}